{{ define "main" }}
<h1>Search</h1>
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<style>
    :root {
        --pagefind-ui-primary: #0d1117;
        --pagefind-ui-text: #e6edf3;
        --pagefind-ui-background: #0d1117;
        --pagefind-ui-border: #7ed1f5;
        --pagefind-ui-tag: #7ed1f5;
        --pagefind-ui-border-width: 1px;
        --pagefind-ui-border-radius: 4px;
    }
    .pagefind-ui__search-input {
        font-weight: normal !important;
    }
    .pagefind-ui__filter-name {
        font-weight: normal !important;
    }
    .pagefind-ui__message {
        font-weight: normal !important;
    }
    .pagefind-ui__filter-checkbox:checked {
        border: 1px solid #7ed1f5 !important;
    }
</style>
<div id="search"></div>
<script>
    window.addEventListener("DOMContentLoaded", (event) => {
        new PagefindUI({
            element: "#search",
            showEmptyFilters: false,
            translations: {
                placeholder: ""
            }
        });
    });
</script>
<h1>All Tags</h1>
{{ range .Pages }}
<details>
    {{ $pages := .Site.RegularPages }}
    <summary>{{ .Title }} ({{ $pages | len }})</summary>
    {{ range $pages }}
    <ul class>
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    </ul>
    {{ end }}
</details>
{{ end }}
{{ end }}
